# Frontend
VITE_API_BASE_URL=http://localhost:5000
VITE_GEOSERVER_BASE_URL=http://localhost:8080
VITE_GEOSERVER_WMS_URL=http://localhost:8080/geoserver/wms
VITE_GEOSERVER_WORKSPACE=raster
VITE_GEOSERVER_DEM_LAYER=raster:dem
VITE_GEOSERVER_ASPECT_LAYER=raster:aspect
VITE_GEOSERVER_POPULATION_LAYER=raster:population_density

# Backend
PORT=5000
JWT_SECRET=your-secret-key
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=vital_watch_db
